@page
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Validation.Localization
@model EasyAbp.Abp.TagHelperPlus.Pages.Books.Book3.IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<AbpValidationResource> L
@{
    PageLayout.Content.Title = L["Book3"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Book3"].Value);
    PageLayout.Content.MenuItemName = "Book3";
}

@section scripts
{
    <abp-script src="/Pages/Books/Book3/index.js" />
}
@section styles
{
    <abp-style src="/Pages/Books/Book3/index.css"/>
}

<form data-ajaxForm="true" asp-page="Index">
    <abp-card>
        <abp-card-header>
            <abp-row>
                <abp-column size-md="_6">
                    <abp-card-title>@L["UserId"]</abp-card-title>
                </abp-column>
            </abp-row>
        </abp-card-header>
        <abp-card-body>
            <abp-select asp-for="UserId" />
            <abp-input asp-for="Title" />
        </abp-card-body>
        <abp-modal-footer>
            <abp-button id="search-button" button-type="Primary" text="Search"/>
        </abp-modal-footer>
    </abp-card>
</form>